{% extends 'base.html.twig' %}


{% block title %}Liste Candidatures{% endblock %}
{% block monTitre %}Liste Candidatures{% endblock %}
{% block body %}
{{form_start(form)}}
<div class="row no-gutters align-items-center text-center">
    <div class="col-12 col-md-3">
        {{form_row(form.minInscription)}}
    </div>
    <div class="col-12 col-md-3">
        {{form_row(form.maxInscription)}}
    </div>
    <div class="col-12 col-md-3">
        <input type="submit" value="rechercher" class="btn btn-primary">
    </div>   
</div>
{{form_end(form)}}

<table class="table">
    <tr class="table-primary">
        <td>Nom</td>
        <td>Prénom</td>
        <td>date de naissance</td>
        <td>Formation souhaitée</td>
        <td>date d'inscription</td>
        <td>Action </td>
        
        
    </tr>
    {% for candidat in candidatures %}
        <tr>
        <td>{{candidat.nom}}</td>
        <td>{{candidat.prenom}}</td>
        <td>{{candidat.dateNaissance|date('d/m/Y')}}</td>
        <td>{{candidat.formationPropose.diplome}} {{candidat.formationPropose.specialite}}</td>
        <td>{{candidat.createdAt|date('d/m/Y')}}</td>
        {% if admin %}
        <td>
        <div class="row no-gutters">
            <a class="col btn btn-secondary" href=" {{path('modificationInscription',{'id': candidat.id})}} ">Modifier</a>
            <form method="post" class="col" action="{{path('supCandidat',{'id': candidat.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer?')">
                <input type="hidden" name="_method" value="SUP">
                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ candidat.id)}}">
                <input type="submit" class="btn btn-danger w-100" value="Supprimer">
            </form>
        </div>
        </td>
        {% else %}
        <td>
            <div class="row no-gutters">
                <a class="col btn btn-secondary" href=" {{path('candidat',{'id': candidat.id})}} ">Voir</a>
            </div>
         </td>   
      
        {% endif %}
    </tr>
    {% endfor %}



</table>
<div class="navigation">
    {{ knp_pagination_render(candidatures) }}
</div>

{% endblock %}
